[Unit]
Description=Alist Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/alist/alist server
WorkingDirectory=/opt/alist
Restart=always
User=root

[Install]
WantedBy=multi-user.target
